{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    {% for i in data %}   
    <div class="card border-light bg-dark" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{ i.username }}</h5>
            <p class="card-text">{{ i.biography }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}

    

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page >1 %}
            <li class="page-item"><a class="page-link" href="/users/{{ page-1 }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="/users/{{ page+1 }}">Next</a></li>  

        </ul>
      </nav>
</div>
{% endblock %}
