{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    {% for i in data %}   
    <div class="card border-light bg-dark" style="width: 100%;">
        <div class="card-body d-flex">
            <img src="http://127.0.0.1:10060/image/{{i.iconHash}}" style='width: 100px; height: 100px;'>
            <div class="card-content">
                <h5 class="card-title">{{ i.username }}</h5>
                <p class="card-text">{{ i.biography }}</p>
                <small class="text-muted">
                    <i class="fa-solid fa-heart"></i>
                    {{i.heartCount}}
                </small>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page >1 %}
            <li class="page-item"><a class="page-link" href="/users/{{ page-1 }}">Previous</a></li>
            {% endif %}
            {% if usrcount >=5 %}
            <li class="page-item"><a class="page-link" href="/users/{{ page+1 }}">Next</a></li>  
            {% endif %}
        </ul>
      </nav>
</div>
{% endblock %}
